<%- include("header") -%>

  <div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
  </div>

  <div class="box">
    <% newListItems.forEach(item => { %>
      <form action="/delete" method="post">
      <div class="item">
        <input type="checkbox" name="id" value="<%=item._id%>" onchange="this.form.submit()">
        <input type="text" name="newName" value="<%=item.name %>" formaction="/edit" >
        <input type="hidden" name="name" value="<%= listTitle %>">
        <button id="hide" type="submit" name="id" value="<%=item._id%>" formaction="/edit" ></button>
      </div>
      
    </form>
      <% }); %>
      <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="list" value="<%= listTitle %>">+</button>
      </form>
  </div>

<%- include("footer") -%>
